<!doctype html>
<html>

  {% include head.html %}
  
  <body>

      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/rustless/rustless">Rustless</a></li>
          <li class="fork"><a href="https://github.com/rustless/valico">Valico</a></li>
          <li class="fork"><a href="https://github.com/rustless/queryst">Queryst</a></li>
          <li class="fork"><a href="https://github.com/rustless/jsonway">JsonWay</a></li>
          <li class="fork downloads"><a href="https://github.com/rustless/rustless">Fork On GitHub</a></li>

        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Use Rust for web with Rustless</h1>
          <p>Rustless is a REST-like API micro-framework for <a href="http://www.rust-lang.org/">Rust</a></p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/s-panferov">s-panferov</a></span>
          <span class="credits right">This project is released under the terms of the MIT license.</span>
        </div>

        {{ content }}
        
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
     {% include ga.html %}
  </body>
</html>
